<h3>Hello, <%= @user.full_name %>  </h3>
<br/>
Photo: <%= image_tag (@user.avatar) %> <br/>
Nickname: <%= @user.nickname %> <br/>
Number: <%= @user.contact %> <br/>
About me: <%= @user.bio %> <br/>
Location: <%= @user.location %> <br/>
School/Work: <%= @user.schoolwork %> <br/>

My rooms: <br/>

   <% @user.bnbrooms.each do |postrooms| %>
     <h4><%= @user.full_name %> has <%= @user.bnbrooms.count %> room(s) on Arenbnb:</h4>
    <%= link_to postrooms.room_name, bnbroom_path(postrooms) %> at <%= postrooms.neighborhood%>, <%= postrooms.country%> for <%= postrooms.room_price %> per night.<br/>
  <% end %>
