<h3>Hello, <%= @user.full_name %>  </h3>
<br/>
Photo: <%= image_tag @user.avatar %> <br/>
Nickname: <%= @user.nickname %> <br/>
Number: <%= @user.contact %> <br/>
About me: <%= @user.bio %> <br/>
Location: <%= @user.location %> <br/>
School/Work: <%= @user.schoolwork %> <br/>

My rooms:
