<div class="reviewcommentrate-form">
<%= form_for [@bnbroom, @bnbroom.reviewcommentrates.new] do |f| %>
<%= f.text_field :reviewtitle, placeholder: "What's on your mind?" %>
<br/>
<%= f.text_area :comment, placeholder: "Any more details?" %>
<br/>
<%= f.select :rating, ['0 - It was horrible! Never going back!', '1 - Meh.', '2 - It was good, I guess.', '3 - Really good!', '4 - I loved it, it was awesome!', '5 - PLEASE LET ME LIVE HERE HUHU' ]%>
<br/>
<%= f.submit "Here!" %>
<% end %>
</div>