<div class = "reviewcommentrate-show">
<% if @bnbroom.reviewcommentrates.exists? %>
  <% @bnbroom.reviewcommentrates.each do |reviewcommentrate| %>
  <h3>This room has <%= @bnbroom.reviewcommentrates.count %> review(s):</h3>
  <br/>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <p><%= reviewcommentrate.user.full_name %>
        <%= image_tag avatar_url(reviewcommentrate.user), class:"reviewavatar" %>
        </p>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <strong><%= reviewcommentrate.reviewtitle %></strong>
        <br/>
        <p><%= reviewcommentrate.comment %></p>
        <% reviewcommentrate.rating.to_i.times do  %>
              <%= image_tag("https://image.flaticon.com/icons/svg/9/9029.svg", :style => 'height: 25px;')%>
        <% end %>  
        <br/>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <% if reviewcommentrate.user == current_user %>
          <%= link_to "Delete", bnbroom_reviewcommentrate_path(@bnbroom, reviewcommentrate), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
        </div>
    </div>
  <% end %>
  <% else %>
  <h3>No reviews yet!</h3>
<% end %>
</div>