
<p id="notice"><%= notice %></p>

<div class = "row" id="searchfix">
    <%= form_tag bnbrooms_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :id => "searchbar" %>
        <%= submit_tag "Search", :name => nil , :id => "searchbtn" %>
      </p>
    <% end %>

</div>

<br/>
<br/>
<br/>

<div class = "row">

<div class = "col-xs-12 col-sm-12 col-md-8 col-lg-8" id="respondmobile">
  <% @bnbrooms.each do |bnbroom| %>
      <div class = "indivpost">
        <%= link_to image_tag(bnbroom.photos[0]), bnbroom, class:"indexphoto" %>
        <h3><%= bnbroom.room_name %></h3>
        <p><%= bnbroom.room_type %> at <%= bnbroom.room_price %> per night</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> <%= bnbroom.neighborhood %></p>
        <p><% bnbroom.reviewcommentrates.average(:rating).to_i.times do %>
              <%= image_tag("https://image.flaticon.com/icons/svg/9/9029.svg", :style => 'height: 15px;')%>  <% end %>
           <%= bnbroom.reviewcommentrates.count %> review(s)</p>

              <% if bnbroom.user.id == current_user.id %>
              <%= link_to 'Edit', edit_bnbroom_path(bnbroom) %> | <%= link_to 'Destroy', bnbroom, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
      </div>
  <% end %>
</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id:"mapcol">
  <% my_url = "https://maps.googleapis.com/maps/api/staticmap?zoom=8&size=400x500&maptype=roadmap&key=AIzaSyD1Z6v7UZ3TR2x38vfirlFyy2YVljHkR-0" %>
  <% @bnbrooms.each do |bnbroom| %>
  <% my_url += "&markers=#{bnbroom.latitude}%2C#{bnbroom.longitude}" %>
  <% end %>
  <%= image_tag my_url , class:'indexmap' %>
</div>

</div>
